@import '../../styles/variables.scss';

.header {
    background: $black;
}

.header__link-list {
    display: flex;
    flex-wrap: wrap;
}

.header .router-link-exact-active {
    background: $violet;

    &:hover {
        background: $violet;
    }
}

.header__link {
    display: block;
    
    padding: 16px;
    color: $white;
    font-size: 24px;
    transition: background $standart-transition;
    text-decoration: none;

    outline: none;

    &:hover {
        background: $red;
    }
}